{% extends "base.jinja2" %}
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
<div id="body">
{% block content %}
    <div class="page-header">
      <h1><a class="anchor" href="http://reddit.com/user/{{ username }}">{{ username }}</a>
    <!--
      <div id="meta">
        <table class="table table-bordered table-hover table-condensed">
        {% for key in data['_meta'] %}
        <tr class="comment_{{key}}">
            <td>{{ key }}</td>
            <td>{{ data['_meta'][key] }}</td>
        </tr>
        {%- endfor -%}
      </table>   
      </div>
    -->
    </div>
    <div>
      <a id="comments" class="anchor"></a>
      <h2><a href="#top">comments</a></h2>

      <table class="table table-border table-striped table-hover table-condensed tablesorter">
      <thead>
        <th style="width:7%"  class="filter-match">created</th>
        <th style="width:80%" class="filter-match">title</th>
        <th style="width:5%" class="filter-select ">subreddit</th>
        <th style="width:5%"  class="filter-false">n-chars</th>
        <th style="width:3%"  class="filter-false">score</th>
      </thead>

      <tbody>
      {% for comment in data['comments'] %}
      <tr>
       <td style="white-space:nowrap">{{ comment['created'] }}</td>
       <td><a href="#comment/{{ comment['id'] }}">{{ comment['link_title'] }}</a></td>
       <td>{{ comment['subreddit'] }}</td>
       <td>{{ comment['charcount'] }}</td>
       <td>{{ comment['score'] }}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>

      {% for comment in data['comments'] %}
      <div class="row-fluid">
      <div class="span12">


      <h4>
        <a class="anchor" id="comment/{{ comment['id'] }}" href="{{ comment['permalink'] }}">{{ comment['link_title'] }}</a>
        <a class="headerlink" href="#comment/{{ comment['id'] }}">¶</a>
      </h4>


      <div class="muted">
      <span><small>{{ comment['created'] }}</small>
      {% if comment['edited'] %}<strong>*</strong></span>
      <span><small>{{ comment['edited'] }}</small></span>
      {% else %}</span>{% endif %}
      <span><small><a href="http://reddit.com/r/{{ comment['subreddit'] }}">#{{ comment['subreddit'] }}</a></small></span>
      <span><small><a class="headerlink" href="#top">^</a></small></span>
      </div>

      <div class="comment_body well_ well-small">{{ comment['body_html']|safe }}</div>
      </div>
      </div>
      {% endfor %}
    </div>
    <div>
      <h2><a id="submissions" class="anchor" href="#top">submissions</a></h2>

      <table class="table table-border table-striped table-hover table-condensed tablesorter">
      <thead>
        <th style="width:7%"  class="filter-match">created</th>
        <th style="width:80%" class="filter-match">title</th>
        <th style="width:5%" class="filter-select ">subreddit</th>
        <th style="width:5%"  class="filter-false">n-chars</th>
        <th style="width:3%"  class="filter-false">score</th>
      </thead>

      <tbody>
      {% for submission in data['submissions'] %}
      <tr>
       <td style="white-space:nowrap">{{ submission['created'] }}</td>
       <td><a href="#submission/{{ submission['id'] }}">{{ submission['title'] }}</a></td>
       <td>{{ submission['subreddit'] }}</td>
       <td>{{ submission['charcount'] }}</td>
       <td>{{ submission['score'] }}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>

      {% for submission in data['submissions'] %}
      <div class="row-fluid card">
      <div class="span12">
        <h4>
            <a class="anchor" id="submission/{{ submission['id'] }}" href="{{ submission['permalink'] }}">
            {{ submission['title']|safe }} {# TODO XXX FIXME #}
            </a>
            <a class="headerlink" href="#submission/{{ submission['id'] }}">¶</a>
        </h4>
        <a href="{{ submission['url'] }}">{{ submission['url'] }}</a>
        {% if submission['selftext_html'] %}
        <div class="selftext well_ well-small">
        {{ submission['selftext_html']|safe }}
        </div>
        {% endif %}

        <div class="muted">
            <span>&mdash;</span>
            <span><small>{{ submission['created'] }}</small>
            {% if submission['edited'] %}<strong>*</strong></span>
            <span><small>{{ submission['edited'] }}</small></span>
            {% else %}</span>{% endif %}
            <span><small>{{ submission['subreddit'] }}</small></span>
            <span><small><a class="headerlink" href="#top">^</a></small></span>
        </div>
      </div>
      </div>
      {% endfor %}
  </div>
  <div>
      <h2>
          <a class="urls" id="urls" href="#top">URLs</a>
      </h2>

      <table 
          class="table table-border table-striped table-hover table-condensed tablesorter"
          style="table-layout:fixed; word-wrap: break-word;"
          >
      <thead>
        <th class="filter-false" style="width: 5%">count</th>
        <th class="filter-match" style="width: 95%">URL</th>
      </thead>

      <tbody>
      {% for uri, count in data['uris'] %}
      <tr>
          <td>{{ count }}</td>
          <td><a href="{{ uri }}">{{ uri }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
      </table>

   </div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $("a[href^='http']").attr('target','_blank');
    });
</script>
{% endblock extrajs %}
</div>
</body>
</html>
